@model IEnumerable<BankTransactions.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="col-md-8 w-100">
        <h1>Transações</h1>
        <div class="filter d-flex align-items-center gap-2 w-auto d-felx justify-content-end">
            <label for="filter-input">Pesquisar</label>
            <input type="text" id="filter-input" placeholder="Nome do beneficiário" />
            <button class="btn btn-secondary btn-sm" id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>

        </div>
  
  

        <table class="table table-borderless table-hover">
            <thead class="table-head">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeneficiaryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                         @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th style="width:80px">
                        <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> New
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody id="table-content">
                @foreach (var item in Model)
                {
                    <tr class="table-row" id="@item.TransactionId">
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeneficiaryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            R$ @Html.DisplayFor(modelItem => item.Amount),00
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.TransactionId">


                                    <button type="submit" class="btn btn-sm btn-danger mx-auto d-block"
                                        onclick="return confirm('Tem certeza que deseja delestar esse registro?')">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
     
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Transaction/index.js"></script>
}
